* {
    margin-top: 0;
}
body {
    font-family: cursive;
    padding: 30px 40px;
}

article, .div-article {
    margin-left: 300px;
}
header {
    background-image: url(../assets/design1_image1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(11, 102, 229, 0.985);
    font-size: 35px;
    height: 40vh;
    margin-top: 0px;
}

h2 {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 5px 0;
}
nav {
    width: 20vw;
    font-size: 30px;
    position: absolute;
    padding-top: 80px;
}
.logo{
    height: 200px;
    position: absolute;
    right: 150px;
    top:35%
}
nav>a {
    display: block;
    margin-top: 20px;
}
.active{
    text-decoration: none;
}
.fondo2{
    display: none;
}
p{
    padding-right: 20px;
}
footer{
    margin-left: 300px;
}